
{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/global/global_styles.css' %}">
{% endblock %}

{% block title %}
StockForecaster: Stock Listings
{% endblock%}


{% block result %}
<section class="section-result">
    <div class="result-header result-header--big">
        <h2>Upcoming Stock Listings</h2>
    </div>

    <span class="mt-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia quas, error hic ipsam nulla vero vel nihil minus quis aliquam consequuntur commodi quam. Odit ipsa quibusdam nostrum dolore minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, illo nulla adipisci iusto labore corporis maxime aliquam nobis error quo et eligendi perferendis autem facere ab fuga itaque saepe ratione!</span>

    <div class="result-data table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Core Business Description</th>
                    <th scope="col">Price Range</th>
                    <th scope="col">Expected Market Cap</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
                <tr>
                    <th scope="row">2024-12-23</th>
                    <td>ServiceTitan, Inc.</td>
                    <td>Provides software solutions for home service businesses.</td>
                    <td>$71</td>
                    <td>$624.8m</td>
                </tr>
            </tbody>
        </table> 
        
        <span class="mt-extra-small mb-small">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat mollitia quas, error hic ipsam nulla vero vel nihil minus quis aliquam consequuntur commodi quam. Odit ipsa quibusdam nostrum dolore minima. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, illo nulla adipisci iusto labore corporis maxime aliquam nobis error quo et eligendi perferendis autem facere ab fuga itaque saepe ratione!</span>
    </div>

</section>
{% endblock %}