
{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/article/article_styles.css' %}">
{% endblock %}

{% block title %}
StockForecaster: {{hot_topic}}
{% endblock%}


{% block result %}
<section class="section-result">
    <div class="result-header result-header--big">
        <h2>{{hot_topic.title}}</h2>
    </div>
	<div class="mt-small copy-text">
		<input type="text" class="text" value="{{hot_topic.article_url}}" />
		<button><i class="fa fa-copy"></i></button>
	</div>

    <span class="mt-small">{{hot_topic.description}}</span>

    <div class="result-data">
        <div class="data-item">
            <div class="item-name">1. {{hot_topic.topic_1}}</div>
            <ul class="item-information-list">
                <li><strong>Background:</strong> {{hot_topic.background_topic_1}}</li>
                <li><strong>Potential Influence:</strong> {{hot_topic.influence_topic_1}}</li>
            </ul>
        </div>

        <div class="data-item">
            <div class="item-name">2. {{hot_topic.topic_2}}</div>
            <ul class="item-information-list">
                <li><strong>Background:</strong> {{hot_topic.background_topic_2}}</li>
                <li><strong>Potential Influence:</strong> {{hot_topic.influence_topic_2}}</li>
            </ul>
        </div>

        <div class="data-item">
            <div class="item-name">3. {{hot_topic.topic_3}}</div>
            <ul class="item-information-list">
                <li><strong>Background:</strong> {{hot_topic.background_topic_3}}</li>
                <li><strong>Potential Influence:</strong> {{hot_topic.influence_topic_3}}</li>
            </ul>
        </div>
    </div>

    <div class="result-data">
        <div class="result-header result-header--small">
            <h3>Potential Sectors and Beneficial Assets</h2>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Sector</th>
                        <th scope="col">Impact</th>
                        <th scope="col">Beneficial Stocks/Assets</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{hot_topic.sector_1}}</th>
                        <td>{{hot_topic.impact_1}}</td>
                        <td>{{hot_topic.stock_1}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{hot_topic.sector_2}}</th>
                        <td>{{hot_topic.impact_2}}</td>
                        <td>{{hot_topic.stock_2}}</td>
                    </tr>
                    <tr>
                        <th scope="row">{{hot_topic.sector_3}}</th>
                        <td>{{hot_topic.impact_3}}</td>
                        <td>{{hot_topic.stock_3}}</td>
                    </tr>
                </tbody>
            </table>        
        </div>
    </div>

</section>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/layout/copy.js' %}"></script>
{% endblock %}