
{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/article/article_styles.css' %}">
{% endblock %}

{% block title %}
StockForecaster: Stock Listings
{% endblock%}


{% block result %}
<section class="section-result">
    <div class="result-header result-header--big">
        <h2>Upcoming Stock Listings</h2>
    </div>

    <span class="mt-small">Here are some of the most important upcoming IPOs expected in the next thirty days, including company name, price ranges, expected capitalization and the expected date</span>

    <div class="result-data table-responsive">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Company Name</th>
                    <th scope="col">Code</th>
                    <th scope="col">Price Range</th>
                    <th scope="col">Number Of Shares</th>
                    <th scope="col">Total Shares Value</th>
                </tr>
            </thead>
            <tbody>
                {% for stock_listing in stock_listings %}
                    <tr>
                        <th scope="row">{{stock_listing.date}}</th>
                        <td>{{stock_listing.company}}</td>
                        <td>{{stock_listing.code}}</td>
                        <td>{{stock_listing.price_range}}</td>
                        <td>{{stock_listing.number_of_shares}}</td>
                        <td>{{stock_listing.total_shares_value}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table> 
        
        <span class="mt-extra-small mb-small">These listings represent a diverse range of industries, from medical devices and logistic to technology solutions and software services, offering various opportunities for potential investors. Each company's specific are outlined in terms of price and market capitalization, providing insights for prospective investment.</span>
    </div>

</section>
{% endblock %}